<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>App</title>
</head>
<script src="https://code.jquery.com/jquery-3.5.1.min.js"
  integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous">
  </script>
<style>
  html,
  body,
  h1 {
    margin: 0;
    padding: 0;
  }

  .container {
    color: black;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 100px;
  }

  .title {
    margin: 24px 0px;
  }

  .input-container {
    display: flex;
    align-items: center;
    height: 80px;
    font-size: 24px;
    border: 1px solid #ddd;
    background: white;
    transition: all 0.5s ease-in-out;
    width: 100%;
  }

  .input-container:hover {
    box-shadow: 0 1px 6px 0 rgba(32, 33, 36, 0.28);
    transition: all 0.2s ease-in-out;
  }

  .userform {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 200px;
  }

  .submit-button {
    height: 100%;
    margin: 0px;
    padding: 0px;
    border-radius: 0px;
    background: #3ea589;
    color: white;
    font-size: 24px;
    border: none;
    border-radius: 5px;
    padding: 0px 10px;
    font-size: 21px;
    letter-spacing: 2px;
    cursor: pointer;
    outline: inherit;
    transition: all 0.2s ease-in-out;
  }

  .submit-button:hover {
    opacity: 0.7;
    transition: all 0.2s ease-in-out;
  }

  .submit-button:active {
    background: #1f5e20;
  }

  table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }

  td,
  th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }

  tr:nth-child(even) {
    background-color: #dddddd;
  }
</style>

<body>
  <div class="container">
    <h1 class="title">GET AND SAVE USERS</h1>
    <form method="post" id="form">
      {% csrf_token %}
      <input class="submit-button" type="button" value="GET AND SAVE USERS" onclick="getAndSaveUsers()">
    </form>
    <h1 class="title">ADD AN USER</h1>
    <form method="post" id="userform" class="userform">
      {% csrf_token %}
      <label for="username">Username: </label>
      <input id="username" type="text" name="username">
      <label for="catchphrase">Company Catchphrase: </label>
      <input id="catchphrase" type="text" name="catchphrase">
      <hr>
      <input class="submit-button" type="button" value="ADD USER" onclick="AddAnUser()">
    </form>
    <h1 class="title">SHOW USERS</h1>
    {% if has_user_record %}
    <form method="post" id="userform">
      <input class="submit-button" type="button" value="PRINT USERS" onclick="ShowUsers()">
    </form>
    <div class="containaer">
      <table id="usertable">
        <tr>
          <th>Username</th>
          <th>Company Catchphrase</th>
        </tr>
      </table>
    </div>
    {% endif %}
  </div>

  <script type="text/javascript">
    function getAndSaveUsers() {
      $.ajax({
        type: "POST",
        url: "/api/get-and-save-users",
        data: $('#form').serialize(),
        success: function (res) {
          alert(res)
          location.reload()
        },
        error: function (res) {
          alert('error occurred while updating')
        }
      });
    }
    function AddAnUser() {
      $.ajax({
        type: "POST",
        url: "/api/add-an-user",
        data: $('#userform').serialize(),
        success: function (res) {
          alert(res)
          location.reload()
        },
        error: function (res) {
          alert(res.responseText)
        }
      });
    }
    function ShowUsers() {
      $.ajax({
        type: "GET",
        url: "/api/show-users",
        success: function (res) {
          $( "#usertable" ).children("tbody").children("tr").children("td").remove();
          res.users.forEach(function (value, index) {
            $("#usertable").append(`<tr id=row${index}></tr>`)
            $(`#row${index}`).append(`<td>${value.username}</td>`);
            $(`#row${index}`).append(`<td>${value.catch_phrase}</td>`);
          });
        },
        error: function (res) {
          alert('error occurred while querying')
        }
      });
    }
  </script>
</body>

</html>